<!--
File name : views/partials/About.ejs
Student’s Name : Ricardo Barona
StudentID : 301165198
Date : 2021-09-30
-->

<!-- ABOUT PAGE Content -->

<div class="container">
    <div class="row justify-content-center align-center text-center">
        <div class="col-md-4 mt-5">
            <img src="/Assets/images/Avatar.png" alt="" />
            <div class="text">
                <h1>Ricardo Barona</h1>
                <a href="" class="btn-contact text-primary">
                    RESUME
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-6 mt-5">
            <div class="text">
                <span>
                    My name is Ricardo Barona, and I consider myself a technological geek. 
                    I enjoy everything that involves: technology, coding, science, logical 
                    thinking and more. I’ve always been a fanatic of gadgets and engineering 
                    because most of the time it implies a lot of innovation and is fantastic 
                    to realize how human's ingenuity always find a way to solve all kind of 
                    challenges. What I like the most is work developing ideas and projects that 
                    help my clients to improve their business or their lives so do not hesitate to 
                    contact me in case that you want to see come true that idea that you have in mind.
                </span>
            </div>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1" d="M0,192L24,197.3C48,203,96,213,144,218.7C192,224,240,224,288,229.3C336,235,384,245,432,213.3C480,181,528,107,576,101.3C624,96,672,160,720,197.3C768,235,816,245,864,213.3C912,181,960,107,1008,112C1056,117,1104,203,1152,229.3C1200,256,1248,224,1296,176C1344,128,1392,64,1416,32L1440,0L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path>
</svg>