<!--
File name : views/partials/Contact.ejs
Student’s Name : Ricardo Barona
StudentID : 301165198
Date : 2021-09-30
-->

<!-- CONTACT PAGE Content -->

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
          <h2 class="form-title">Get in Touch</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form id="contact-form" name="myForm" class="form" action="#" onsubmit="return window.location.href('/');" method="GET" role="form">
                <div class="form-group">
                    <label class="form-label" id="nameLabel" for="name"></label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" tabindex="1">
                </div>
                <div class="form-group">
                    <label class="form-label" id="emailLabel" for="email"></label>
                    <input type="number" class="form-control" id="contact_number" name="contact_number" placeholder="Contact Number" tabindex="2">
                </div>
                <div class="form-group">
                    <label class="form-label" id="emailLabel" for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" tabindex="2">
                </div>

                <div class="form-group">
                    <label class="form-label" id="subjectLabel" for="sublect"></label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
                </div>

                <div class="form-group">
                    <label class="form-label" id="messageLabel" for="message"></label>
                    <textarea rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Your message" tabindex="4"></textarea>                                 
                </div>

                <div class="text-center margin-top-bottom-25">
                    <button type="submit" class="btn btn-mod btn-border btn-large">Send Message</button>
                </div>

            </form><!-- End form -->
          
        </div><!-- End col -->

    </div><!-- End row -->
    
</div><!-- End container -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,0L6.3,32C12.6,64,25,128,38,133.3C50.5,139,63,85,76,85.3C88.4,85,101,139,114,181.3C126.3,224,139,256,152,240C164.2,224,177,160,189,165.3C202.1,171,215,245,227,277.3C240,309,253,299,265,250.7C277.9,203,291,117,303,117.3C315.8,117,328,203,341,240C353.7,277,366,267,379,234.7C391.6,203,404,149,417,112C429.5,75,442,53,455,37.3C467.4,21,480,11,493,5.3C505.3,0,518,0,531,53.3C543.2,107,556,213,568,245.3C581.1,277,594,235,606,197.3C618.9,160,632,128,644,106.7C656.8,85,669,75,682,106.7C694.7,139,707,213,720,208C732.6,203,745,117,758,96C770.5,75,783,117,796,144C808.4,171,821,181,834,176C846.3,171,859,149,872,133.3C884.2,117,897,107,909,133.3C922.1,160,935,224,947,234.7C960,245,973,203,985,186.7C997.9,171,1011,181,1023,186.7C1035.8,192,1048,192,1061,197.3C1073.7,203,1086,213,1099,229.3C1111.6,245,1124,267,1137,266.7C1149.5,267,1162,245,1175,218.7C1187.4,192,1200,160,1213,133.3C1225.3,107,1238,85,1251,80C1263.2,75,1276,85,1288,112C1301.1,139,1314,181,1326,213.3C1338.9,245,1352,267,1364,256C1376.8,245,1389,203,1402,202.7C1414.7,203,1427,245,1434,266.7L1440,288L1440,320L1433.7,320C1427.4,320,1415,320,1402,320C1389.5,320,1377,320,1364,320C1351.6,320,1339,320,1326,320C1313.7,320,1301,320,1288,320C1275.8,320,1263,320,1251,320C1237.9,320,1225,320,1213,320C1200,320,1187,320,1175,320C1162.1,320,1149,320,1137,320C1124.2,320,1112,320,1099,320C1086.3,320,1074,320,1061,320C1048.4,320,1036,320,1023,320C1010.5,320,998,320,985,320C972.6,320,960,320,947,320C934.7,320,922,320,909,320C896.8,320,884,320,872,320C858.9,320,846,320,834,320C821.1,320,808,320,796,320C783.2,320,771,320,758,320C745.3,320,733,320,720,320C707.4,320,695,320,682,320C669.5,320,657,320,644,320C631.6,320,619,320,606,320C593.7,320,581,320,568,320C555.8,320,543,320,531,320C517.9,320,505,320,493,320C480,320,467,320,455,320C442.1,320,429,320,417,320C404.2,320,392,320,379,320C366.3,320,354,320,341,320C328.4,320,316,320,303,320C290.5,320,278,320,265,320C252.6,320,240,320,227,320C214.7,320,202,320,189,320C176.8,320,164,320,152,320C138.9,320,126,320,114,320C101.1,320,88,320,76,320C63.2,320,51,320,38,320C25.3,320,13,320,6,320L0,320Z"></path></svg>