<!--
File name : views/partials/Home.ejs
Student’s Name : Ricardo Barona
StudentID : 301165198
Date : 2021-09-29
-->

<!-- Home Page content -->
<div class="bg">
    <div class="container">
        <div class="row justify-content-center align-center text-center">
            <div class="col-md-6 mt-5">
                <div class="home-content">
                    <h1 class="Title">WELCOME</h1>
                    <p class="Content">
                        Provide my clients with better technological tools in order 
                        to satisfy their needs, achieve their objectives and reach their 
                        goals through the development and implementation of precise 
                        and reliable digital platforms.
                    </p>
                    <a href="/about" class="btn-about text-white">FIND OUT MORE</a>
                </div>
            </div>
            
            <div class="col-md-2"></div>

            <div class="col-md-4 mt-5">
                <div class="home-img">
                    <img src="/Assets/images/landing_page.png" alt="" style = "width: 100%;"/>
                </div>
            </div>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1" d="M0,96L26.7,80C53.3,64,107,32,160,37.3C213.3,43,267,85,320,106.7C373.3,128,427,128,480,128C533.3,128,587,128,640,112C693.3,96,747,64,800,69.3C853.3,75,907,117,960,112C1013.3,107,1067,53,1120,74.7C1173.3,96,1227,192,1280,192C1333.3,192,1387,96,1413,48L1440,0L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"></path>
</svg>