<!--
File name : views/partials/Home.ejs
Student’s Name : Ricardo Barona
StudentID : 301165198
Date : 2021-09/29
-->

<!-- Home Page content -->
<div class="bg">
    <img class="left-image" src="/Assets/images/left-wave.svg" />
    <div class="container Landing">
        <div class="row justify-content-center align-center">
            <div class="col-md-6 mt-5">
                <h class="Title ">WELCOME</h1>
                <p class="Content">
                    Provide my clients with better technological tools in order to <br>
                    satisfy their needs, achieve their objectives and reach their <br>
                    goals through the development and implementation of precise <br>
                    and reliable digital platforms.
                </p>
                <a onclick="location.href='/about'" class="btn-about text-white">FIND OUT MORE</a>
            </div>
            
            <div class="col-md-2"></div>

            <div class="col-md-4">
                <img src="/Assets/images/landing_page.png" alt="" />
            </div>
        </div>
    </div>
</div>