<!--
File name : views/partials/Services.ejs
Student’s Name : Ricardo Barona
StudentID : 301165198
Date : 2021-09-30
-->

<!-- SERVICE PAGE Content -->

<div class="container">
    <div class="row justify-content-center align-center text-center" style="margin-bottom:40px;">
        <div class="col-md-12">
            <h1 class="service-title">My Services</h1>
        </div>

        <div class="col-md-4">
            <div class="service-content">
                <img src="/Assets/images/General.jpg" alt="" class="service-img">
                <h3 class="service-text">General Programming</h3>
                <a href="#" class="btn-service">View Detail</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-content">
                <img src="/Assets/images/Web.jpg" alt="" class="service-img">
                <h3 class="service-text">Web Development</h3>
                <a href="#" class="btn-service">View Detail</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-content">
                <img src="/Assets/images/Mobile.jpg" alt="" class="service-img">
                <h3 class="service-text">Mobile Apps</h3>
                <a href="#" class="btn-service">View Detail</a>
            </div>
        </div>
    </div>
</div>
