/*
File name : Content/app.css
Student’s Name : Ricardo Barona
StudentID : 301165198
Date : 2021-09-29
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
     font-family: 'Poppins', sans-serif;
     background-color: #10121B;
     color: white;
     box-sizing: border-box;
     outline: none;
}


/* NAV BAR */
.navbar-nav li {
     margin-left:15px;
     margin-right:15px;
     font-family: Poppins;
     font-style: normal;
     font-weight: 300;   
}

.active {
     border-bottom: 2px solid #ffffff;
}


/* HOME PAGE */
.btn-about {
  font-size: 14px;
  margin-top: 1em !important;
  text-decoration: none;
  padding: 10px 20px;
  background: #037FFF;
  color: white;
  border-radius: 20px;
  border: none;
  z-index: 1;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
   cursor: pointer;
}

.btn-about:hover {
  text-decoration: none!important;
  color: white!important;
  background: #2591fd;
  cursor: pointer;
}

.Title {padding-top:20px; font-weight: 500; font-size: 3em;}
.Content {padding: 20px 0px; font-weight: 300; font-size: 1em;}


/* ABOUT PAGE  */
.text {
     margin-top: 3em;
}

.resum {
     margin-top: 5em;
}


/* SERVICES PAGE */
.service-content img {
     width: 10em;
}

.service-title {
     margin-bottom: 1em;
}    

.service-text {
     font-size: 1em;
}


/* FOOTER HERE */
a {
     color: #10121B;
}

a:hover {
     color: #037FFF;
     text-decoration: none;
}

::selection {
     background: #fec503;
     text-shadow: none;
}

footer {
     
     padding: 2rem 0;
     background-color: #ffffff;
}

.footer-column:not(:first-child) {
     padding-top: 2rem;
}

@media (min-width: 768px) {
     .footer-column:not(:first-child) {
          padding-top: 0rem;
    }
}

.footer-column {
     text-align: center;
}

.footer-column .nav-item .nav-link {
     padding: 0.1rem 0;
}

.footer-column .nav-item span.nav-link {
     color: #6c757d;
}

.footer-column .nav-item span.footer-title {
     font-size: 15px;
     font-weight: 700;
     color: #10121B;
     text-transform: uppercase;
}

.footer-column .nav-item .fas {
     margin-right: 0.5rem;
}

.footer-column ul {
     display: inline-block;
}

@media (min-width: 768px) {
     .footer-column ul {
          text-align: left;
    }
}

ul.social-buttons {
     margin-bottom: 0;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
     background-color: #037FFF;
}

ul.social-buttons li a {
     font-size: 20px;
     line-height: 40px;
     display: block;
     width: 40px;
     height: 40px;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
     color: #fff;
     border-radius: 100%;
     outline: 0;
     background-color: #1a1d20;
}

footer .quick-links {
     font-size: 90%;
     line-height: 40px;
     margin-bottom: 0;
     text-transform: none;
     font-family: 'Poppins', sans-serif;
}

.copyright {
     color: black;
}

.fa-ellipsis-h {
     color: white;
     padding: 2rem 0;
}


/* RESPONSIVE */
@media only screen and (max-width: 720px){
     .home-content, .home-img{
        text-align: center;
        font-size: 0.9em;
     }
}
